h1{	
	font-family: "Monotype Corsiva", "Comic Sans MS", cursive;
	font-size: 100px;
	margin-top: 60px;
	margin-bottom: -50px;
	opacity: 1.0;
	color: #000000;
}

h2{
	font-family: "Monotype Corsiva", "Comic Sans MS", cursive;
	font-size: 50px;
	opacity: 1.0;
	color: #000000;
}

body{
	background-image: url("backgroundImage.png");
	 background-color: #000000;
}

div#wrapper{
	opacity: 0.4;
	margin:auto;
	background: #FFFFFF;
	width: 800px;
	height: 2000px;
	margin-bottom: 40px;
}

h6{
	margin-bottom: 40px;
}